@{
    ViewBag.Title = "Home Page";
}

<div id="main">


</div>
<link href="~/Scripts/Reactjs/node_modules/react-datepicker/dist/react-datepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script src="~/Scripts/Reactjs/dist/bundle.js"></script>

